@import "../../../assets/common";

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: $black-background;
  color: $font-on-black;
  height: 50px;
}
